* {
	box-sizing: border-box;
}

h1{
	text-align: center;
}

div#form{
	padding: 1rem;
	background-color: #212529;
	color: white;
}


.pessoas{
	background-color: #212529;
	color: white;
	box-sizing: 1px;
}